@media (max-width: 1024px) {
    .bottom .copyright:after{
        content: "*";
    }
}
@media (max-width: 800px) {
    .bottom .copyright:after{
        content: " 800";
    }
}

@media (max-width: 768px) {
    .bottom .copyright:after{
        content: " 768";
    }
}

@media (max-width: 687px) {
    .bottom .copyright:after{
        content: " 687";
    }
}
@media (max-width: 640px) {
    .bottom .copyright:after {
        content: " 640";
    }
}
@media (max-width: 600px) {
    .bottom .copyright:after{
        content: " 600";
    }
}
@media (max-width: 560px) {
    .bottom .copyright:after{
        content: " 560";
    }
}
@media (max-width: 500px) {
    .bottom .copyright:after {
        content: " 500";
    }
}
@media (max-width: 480px) {
    .bottom .copyright:after {
        content: " 480";
    }
}
@media (max-width: 470px) {
    .bottom .copyright:after{
        content: " 470";
    }
}
@media (max-width: 450px) {
    .bottom .copyright:after{
        content: " 450";
    }
}
@media (max-width: 420px) {
    .bottom .copyright:after{
        content: " 420";
        font-size: 10;
    }
}
@media (max-width: 400px) {
    .bottom .copyright:after{
        content: " 400";
        font-size: 10;
    }
}
@media (max-width: 390px) {
    .bottom .copyright:after{
        content: " 390";
    }
}
@media (max-width: 380px) {
    .bottom .copyright:after{
        content: " 380";
    }
}
@media (max-width: 370px) {
    .bottom .copyright:after{
        content: " 370";
    }
}

@media (max-width: 340px) {
    .bottom .copyright:after{
        content: " (340)";
        font-size: 10;
    }
}

@media (max-width: 320px) {
    .bottom .copyright:after{
        content: " (320)";
    }
}

#right-button{
    /*border: 1px solid red;*/
}