
@media (max-width: 480px) {
    body, html {
        font-size: 13px;
        line-height:1.5em;
    }

    .white-container{
        padding: 7px 10px;
    }

    .topbar .menu {
        display: block !important;
    }
    .topbar .menu.menu-open {
        background-color: #212c2e;
    }
    .bottom {
        font-size: 13px;
        height: auto;
        padding: 10px 0;
    }
    .small-button {
        font-size: 14px;
        height: 43px;
        padding: 8px 20px;
        margin-right: 10px;
    }
    img {
        max-width:460px;
    }

    .left-sidebar {
        float: none;
        width:100%;
        height:160px;
        padding-top: 5px;
    }
    .left-sidebar:after {
        clear: both;
        content: " ";
        display: block;
    }
    .section{
        float:left;
        padding-left: 7px;
        padding-right: 7px;
        width: 100px;
    }

    .right-sidebar {
        float: none;
        width: 100%;
        display: block;
        clear: both;
    }
}
@media (max-width: 380px) {
    body, html {
        font-size: 12px;
        line-height:1.4em;
    }

    .topbar .branding {
    }

    .bottom {
        font-size: 12px;
        height: auto;
        padding: 10px 0;
    }

    .small-button {
        font-size: 12px;
        height: 30px;
        padding: 8px 14px;
        margin-right: 10px;
        margin-top: 5px;
        background-color: #FFB500;
        background-image: none;
    }
    img {
        max-width:340px;
    }
    .powered-by-container{
        display: none;
    }
    .powered-by-container .powered-icon img{
        max-width: 30px;
    }
}
@media (max-width: 320px) {
    body, html {
        font-size: 12px;
        line-height:1.3em;
    }
    .topbar .branding {

    }
    img {
        max-width:290px;
    }
    .bottom {
        font-size: 12px;
        height: auto;
        padding: 10px 0;
    }

    .small-button {
        font-size: 12px;
        height: 30px;
        padding: 7px 10px;
        margin-right: 10px;
        margin-top: 5px;
        background-color: #FFB500;
        background-image: none;
    }

    .copyright{
        width:150px;
    }
    .bottom .copyright {
        padding-top: 0px;
    }
    .bottom .sharing-footer .inner {
        margin-top:1px;
    }

}

