@charset "utf-8";
/* CSS Document */
@-ms-viewport {
    width: device-width;
}

.hidden {
    display: none;
    visibility: hidden;
}
.visible-phone {
    display: none !important;
}
.visible-tablet {
    display: none !important;
}
.hidden-desktop {
    display: none !important;
}
.visible-desktop {
    display: inherit !important;
}
.visible-print {
    display: none !important;
}
@media print {
    .visible-print {
        display: inherit !important;
    }
    .hidden-print {
        display: none !important;
    }
}


@media screen and (min-width: 1000px) {

    .topbar .nav-container {
        margin: 0 auto;
        width: 997px;
    }
    .bottom .sharing-footer {
        margin: 0 auto;
        width: 997px;
    }
    .main-section-container {
        margin: 0 auto;
        width: 997px;
        padding: 0 0 60px;
        display: table;
    }

    .banner .banner-container {
        margin: auto;
        width: 997px;
        padding: 220px 0 100px;
        position: relative;
        padding-top: 80px;
    }
    .white-banner .banner-container {
        box-sizing: border-box;
        margin: 0 auto;
        width: 997px;
        padding: 15px 0;
    }
    .soajs-features .features-container {
        box-sizing: border-box;
        margin: 0 auto;
        width: 997px;
    }
    .powered-by-container {
        margin: 0 auto;
        width: 997px;
    }
    img {
        max-width: 95%;
    }
    .soajs-features .features-container .feature-list li {
        min-height: 200px;
        width: 47%;
        margin: 10px 0 0 0;
    }
    .features-page .left img, .features-page .right img {
        max-width: 385px;
    }
    #getstarted_ex02, #ex02Registry, #registry-example01{
        float:right;
    }
    .image-right{
        float: right;
    }
    #registry1png{
        width:270px;
    }
    #urac-override-acl{
        width: 450px;
    }
}
