@charset "utf-8";
/* CSS Document */

body, html {
    font-size: 1em;
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.9em;
}

p {
    line-height: 1.9em;
}

a img {
    border: none;
}

a {
    color: rgb(65, 100, 126);
    font-weight: 400;
    text-decoration: none;
    outline: 0;
}

a:hover {
    color: #DA9437;
}

.redFlag {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: solid 2px #990000;
    background-color: #ea9999;
    border-radius: 5px;
}

.w-100 {
    width: 100%;
}

.c-both {
    clear: both;
}

.t-center {
    text-align: center;
}

/**************
  HEADER, LOGO
  AND TOP MENU
 **************/
.jumbotron
{
    height: 300px;
    color: white;
    background: -moz-linear-gradient(45deg, rgba(244,134,0,1) 0%, rgba(244,181,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(244,134,0,1)), color-stop(100%, rgba(244,181,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(244,134,0,1) 0%, rgba(244,181,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(244,134,0,1) 0%, rgba(244,181,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(244,134,0,1) 0%, rgba(244,181,0,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(244,134,0,1) 0%, rgba(244,181,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4b500', endColorstr='#f48600',GradientType=1 ); /* ie6-9 */
}
.jumbotron h1, .jumbotron .h1 {
    font-size: 63px;
    font-color: white;
}
.topbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.topbar {
    height: 90px;
    position: relative;
    width: 100%;
    z-index: 100;
}

.topbar .nav-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 997px;
}

/* logo and logo container */
.topbar .branding {
    cursor: pointer;
    float: left;
    width: 200px;
}

.topbar .branding .logo {
    float: left;
    padding: 14px 0;
    max-height: 65px;
}

.topbar .branding .version {
    color: #fff;
    font-size: 12px;
    opacity: 0.7;
    display: block;
    margin: 35px 0 0 175px;
    color: #df9630;
}

.topbar .small-menu {
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    float: right;
    height: 100% !important;
    padding: 16px 20px;
}

.topbar .topnav {
    float: right;
}

.topbar .topnav li {
    margin-top:10px;
    float: left;
    list-style-type: none;
}

.topbar .topnav li a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 4px 14px;
    outline: 0 none;
    padding: 2px;
    white-space: nowrap;
}

.topbar .topnav li.active, .topbar .topnav li:hover {
    color: white;
    font-weight: bold;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: 2px solid white;
}

.topbar .topnav li:hover a {
    transition: all 0.25s ease 0s;
    text-decoration: none;


}

.topbar .topnav li.active a {
    text-decoration: none;
    font-weight: bold;
    font-weight: 600;
}

.topbar .getStarted {
    width: 122px;
    white-space: nowrap;
}

.topbar .features {
    width: 99px;
}

.topbar .documentation {
    width: 143px;
}

.topbar .news {
    width: 77px;
}

.topbar .contactUs {
    width: 113px;
}

.hljs {
    background-color: #f5f5f5;
}

.topbar .menu {
    background-color: rgb(223, 150, 48);
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    float: right;
    height: 100% !important;
    padding: 16px 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.topbar .menu::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.topbar .menu .menu-button-stripe {
    border-bottom: 4px solid #fff;
    box-sizing: border-box;
    height: 5px;
    margin-bottom: 5px;
    width: 35px;
}

.topbar .nav.menu-open {
    display: block;
}

#service-folder-tree {
    width: auto;
}

#dashboard-form, #dashboard-grid {
    max-width: 750px;
}

.btn-primary {
    background-color: #DF9630;
    border-color: #DF9630;
    color: #fff;
}


/****
Footer section
 */
#section-footer {
    background-color: #122733;
    clear: both;
    width: 100%;
}

.bottom {
    color: rgb(61, 61, 61);
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    height: auto;
    padding: 15px 0;
    width: 100%;
}
