@charset "utf-8";
/* CSS Document */

body, html {
    font-size: 1em;
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-image: url('../images/bg.png');
    color: rgb(34, 34, 34);
    line-height: 1.9em;
}

p {
    line-height: 1.9em;
}

a img {
    border: none;
}

a {
    color: rgb(65, 100, 126);
    font-weight: 400;
    text-decoration: none;
    outline: 0;
}

a:hover {
    color: #DA9437;
}

.redFlag {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: solid 2px #990000;
    background-color: #ea9999;
    border-radius: 5px;
}

/*
    HEADER, LOGO AND TOP MENU
*/
.topbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.topbar {
    background-color: white;
    box-sizing: border-box;
    height: 60px;
    position: relative;
    width: 100%;
    z-index: 100;
}

.topbar .nav-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 997px;
}

/* logo and logo container */
.topbar .branding {
    cursor: pointer;
    float: left;
    width: 200px;
}

.topbar .branding .logo {
    float: left;
    padding: 14px 0;
    max-height: 65px;
}

.topbar .branding .version {
    color: #fff;
    font-size: 12px;
    opacity: 0.7;
    display: block;
    margin: 35px 0 0 175px;
    color: #df9630;
}

/* main menu */
.topbar .small-menu {
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    float: right;
    height: 100% !important;
    padding: 16px 20px;
}

.topbar .topnav {
    float: right;
}

.topbar .topnav li {
    color: rgb(34, 34, 34);
    float: left;
    list-style-type: none;
    height: 60px;
}

.topbar .topnav li a {
    color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin: 15px 17px 0;
    padding: 0 3px 5px;
    outline: 0;
    white-space: nowrap;
}

.topbar .topnav li.active, .topbar .topnav li:hover {
    color: rgb(53, 90, 118);
    font-weight: bold;
}

.topbar .topnav li:hover a {
    color: #DF9630; /* yellow*/
    transition: all 0.25s ease 0s;
    text-decoration: none;
    border-bottom: solid 4px #DF9630;
}

.topbar .topnav li.active a {
    text-decoration: none;
    font-weight: bold;
    font-weight: 600;
    color: rgb(53, 90, 118);
    border-bottom: solid 4px rgb(53, 90, 118);
}

#section-footer {
    background-color: white;
    clear: both;
    width: 100%;
}

.bottom {
    color: rgb(61, 61, 61);
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    height: auto;
    padding: 15px 0;
    width: 100%;
}

.bottom:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.bottom a {
    color: #fff;
}

.bottom a:hover {
    color: #001c20;
    transition: all 0.25s ease 0s;
}

.bottom .sharing-footer {
    box-sizing: border-box;
    margin: 0 auto;
    width: 997px;
    padding-top: 5px;
}

.bottom .copyright {
    float: left;
    padding-left: 1%;
    padding-top: 3px;
}

.bottom .sharing-footer .inner {
    float: left;
}

.bottom .sharing-footer .star {
    padding-left: 0;
}

.small-button {
    /*background-color: #0b8fa2;*/
    display: block;
    background: url('../images/yellow-btn-bg.png') repeat-x;
    border-radius: 5px;
    font-size: 18px;
    height: 43px;
    padding: 6px 37px 8px;
    float: right;
    margin-right: 15px;
    /*margin-top: -5px;*/
    text-align: center;
    color: white;
}

.small-button:hover {
    color: #000;
    text-decoration: none;
}

.twitter-icon {
    margin-right: 15px;
}

.twitter-icon img {
    margin-top: 2px;
    width: 40px;
}

.bottom .star {
    float: left;
    width: 70%;
}

.page {
    padding-top: 61px;
}

.main-section-container {
    margin: 0 auto;
    width: 997px;
    padding: 0 0 60px;
    display: table;
}

/* HOMEPAGE */
.banner {
    /*opacity:0.9;*/
    box-sizing: border-box;
    overflow-x: hidden;
}

.banner:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.banner .banner-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 997px;
    padding: 50px 0 80px;
    /*position: relative; */
    clear: both;
}

.banner .banner-container .left-main {
    padding-right: 10px;
    /*
    background-image: url(../images/bigImg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 45%;
    */
    position: relative;
}

#beaverAlone {
    display: none;
}

#beaverImg2 {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

#beaverImg1 {
    position: absolute;
    float: right;
    right: 0;
    bottom: 0;
    width: 45%;
    height: 95%;
}

.beaverImg {
    background-image: url(../images/bigImg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 95%;
    /*border: 1px solid red;*/
}

.banner .about-container, .banner .banner-container .tagline {
    width: 50%;
}

.banner .banner-container .tagline {
    font-size: 20px;
    z-index: 15;
    padding-top: 30px;
}

.banner .about-container {
    box-sizing: border-box;
    margin: 0;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 25px;
    position: relative;
    font-size: 16px;
}

.banner .banner-container .blueBtn {
    font-size: 18px;
    font-weight: bold;
    background-color: #123E5E;
    border-radius: 18px;
    color: white;
    display: block;
    float: right;
    padding: 6px 30px;
    text-decoration: none;
}

.banner .banner-container .blueBtn:hover {
    background-color: white;
    color: #123E5E;
}

.banner .tagline .yellow-header {
    font-weight: bold;
    /*font-size: 30px;*/
    color: #DF9630;
}

.banner .about-container ul {
    padding-left: 10px;
}

.banner .about-container ul li {
    list-style-type: disc;
    color: #df9630;
    margin: 0 0 15px 5px;
}

.banner .about-container ul li span {
    color: rgb(34, 34, 34);
}

.white-banner {
    background-color: #fff;
    width: 100%;
    display: table;
    padding: 13px 0;
}

.white-banner .banner-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 997px;
}

.white-banner .banner-container .repos ul {
    margin: 0 auto;
    width: 997px;
}

.white-banner .banner-container .repos ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
    width: 997px;
}

.white-banner .banner-container .repos ul li {
    float: left;
    margin: 5px 0;
    border: solid 1px #f1f1f1;
    /*padding:5px;*/
    display: block;
    border-radius: 5px;
    width: 49%;
    height: 75px;
}

.white-banner .banner-container .repos ul li.even {
    margin-left: 10px;
}

.white-banner .banner-container .repos ul li .repoLabel {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    clear: both;
    padding-left: 5px;
    background-color: #efefef;
}

.white-banner .banner-container .repos ul li div .repoLinks {
    float: left;
    margin: 5px;
    position: relative;
    top: 6px;
}

.white-banner .banner-container .repos ul li .repoLabel a {
    display: inline-block;
    margin-bottom: 3px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.white-banner .banner-container .repos ul li a img {
    max-height: 18px;
    width: auto;
}

.white-banner .banner-container .repos ul li:hover {
    border: solid 1px #FFB500;
    transition: all ease 0.25s;
}

.white-banner .banner-container .repos ul li:hover .repoLabel {
    background-color: #FFB500;
    transition: all ease 0.25s;
}

.white-banner .banner-container .repos ul li:hover .repoLabel a {
    color: white;
    text-decoration: none;
    width: 100%;
}

.white-banner .banner-container .repos ul li .gitLink iframe {
    width: 90px;
    height: 26px;
}

.white-banner .banner-container .sharing {
    text-align: center;
    clear: both;
}

.white-banner .banner-container .sharing .small-button {
    float: none;
    width: 200px;
    margin: 0 auto;
}

.white-banner .banner-container .sharing:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.white-banner .banner-container .sharing div {
    display: inline-block;
    float: left;
}

.soajs-features {
    background-color: #41647d;
    position: relative;
    z-index: 10;
    padding: 50px 0;
}

.soajs-features .features-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 997px;
}

.soajs-features .features-container:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.soajs-features .features-container .features {
    box-sizing: border-box;
    padding-bottom: 50px;
}

.soajs-features .features-container .features h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

.soajs-features .features-container .features p {
    color: white;
    font-size: 18px;
    font-style: italic;
    line-height: 1.7em;
    margin: auto;
    max-width: 700px;
    text-align: center;
}

.soajs-features .features-container .feature-list {
    margin: 0;
    padding: 0;
}

.soajs-features .features-container .feature-list li {
    box-sizing: border-box;
    float: left;
    padding: 0 0 0 100px;
    position: relative;
    cursor: pointer;
    list-style-type: none;
    width: 47%;
    margin: 10px 0 0 0;
}

.soajs-features .feature-list li:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.soajs-features .feature-list li img.icon {
    box-sizing: border-box;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    /*width: 50px;*/
}

.soajs-features .feature-list li h5 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4em;
}

.soajs-features .feature-list li p {
    color: white;
    font-size: 15px;
    height: auto;
    line-height: 1.9em;
}

.soajs-next-steps {
    background-color: #fff;
    color: #001c20;
    padding: 35px 0;
    position: relative;
}

.soajs-next-steps .contribute-link-wrapper {
    clear: both;
    padding: 0;
    padding-bottom: 50px;
}

.soajs-next-steps .contribute-link-wrapper a {
    background: none repeat scroll 0 0 #0e6471;
    color: #fff;
    display: block;
    font-size: 20px;
    margin: auto;
    padding: 10px 15px;
    text-align: center;
    width: 350px;
}

.soajs-next-steps .calls-to-action {
    color: #001c20;
    margin: auto;
    padding-top: 25px;
    position: relative;
    text-align: center;
    z-index: 10;
}

.soajs-next-steps .calls-to-action .button {
    background: none repeat scroll 0 0 #001c20;
    color: #fff;
    display: inline-block;
    font-size: 26px;
    font-weight: 400;
    margin-left: 10px;
    padding: 10px 25px;
    text-align: center;
}

.soajs-next-steps .calls-to-action a {
    font-size: 26px;
    font-weight: 300;
    margin-right: 10px;
}

.soajs-next-steps .calls-to-action a:hover {
    color: #0b8fa2;
    transition: all 0.25s ease 0s;
}

.soajs-next-steps .calls-to-action a.doc {
    color: #0b8fa2;
    margin-left: 10px;
}

.soajs-next-steps .calls-to-action a.doc:hover {
    color: #001c20;
    transition: all 0.25s ease 0s;
}

/* FEATURES PAGES */
.features-page .main-section-container .feature-list {
    padding-left: 0;
}

.features-page .main-section-container .feature-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.features-page .main-section-container .feature-list ul li {
    box-sizing: border-box;
    clear: both;
    padding-bottom: 40px;
    position: relative;
    width: 100%;
}

.features-page .main-section-container .feature-list ul li:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/*
.features-page .main-section-container .feature-list ul li h5 {
    font-size: 26px;
    font-weight: 400;
    padding: 0 0 10px 20px;
}
*/
.features-page .main-section-container .feature-list ul li p {
    color: #001c20;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.9em;
    padding-top: 5px;
}

.features-page table tr.odd .middle {
    padding: 0 40px 0 20px;
}

.features-page table tr.even .middle {
    padding: 0 20px 0 40px;
}

/* OTHER CSS CLASSES */

.std-list li {
    list-style-type: disc !important;
    padding: 5px 0 5px 10px !important;
    margin-left: 35px;

}

.features-page .main-section-container .feature-list ul li .std-list li {
    width: auto;
}

.image-border {
    padding: 5px;
    background-color: white;
    border: solid 1px #bbbbbb;
    box-shadow: 5px 5px 5px #888888;
}

.left-sidebar {
    padding-top: 40px;
    float: left;
    width: 18%;
    color: rgb(61, 61, 61);
}

.left-sidebar a {
    color: rgb(61, 61, 61);
}

.left-sidebar ul {
    margin-left: 0;
    padding-left: 0px;
    list-style: none;
}

.left-sidebar .left-menu li.active a{
    color: #DF9630 !important;
}

.right-sidebar {
    float: left;
    width: 82%;
}

.myTable {
    border-collapse: separate;
    color: rgb(61, 61, 61);
}

.myTable thead {
    background-color: rgb(104, 132, 152);
}

.myTable th, .myTable td {
    padding: 10px 8px;
    font-size: 14px;
}

.myTable thead th {
    color: white;
    font-size: 16px;
    padding: 10px 15px;
}

.myTable tr.even {
    background-color: rgb(245, 245, 245);
}

em {
    color: grey;
    font-size: 12px;
    line-height: 1.6em;
}

pre {
    background: none;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    border: none;
}

.hljs {
    border-radius: 5px;
}

.form-contact label {
    padding: 20px 0px 0px;
}

.reposList {
    padding-left: 15px;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E
}

.ng-valid.ng-dirty {
    border-color: #78FA89
}

.whyBeaver {
    margin: 0 auto;
    width: 100%;
    padding: 10px 0 40px 0;
    background-color: #ffffff;
}

.whyBeaver-container {
    margin: 0 auto;
    width: 997px;
    padding: 10px 0 20px 0;
}

.powered-by-container {
    margin: 0 auto;
    width: 997px;
    padding: 10px 0 20px 0;
    clear: both;
    text-align: center;
}

.powered-by-container:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.powered-by-container .powered-icon {
    float: left;
    width: 20%;
    height: 100px;
    text-align: center;
}

.powered-by-container .powered-icon img {
    max-width: 170px;
    max-height: 80px;
    margin: auto;
}

.goBackLink {
    float: right;
    margin-top: 20px;
    margin-right: 8px;
}

.examples h5 {
    text-decoration: underline;
    font-weight: bold;
}

.examples h6 {
    text-decoration: underline;
}

.manual-install {
    list-style-type: decimal;
}

.manual-install li {
    padding-bottom: 15px;
}

.manual-install .reposList li {
    padding-bottom: 0px;
}

fieldset {
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-bottom: 50px;
    border: solid 1px #cccccc;
}

legend {
    border: none;
    margin: auto;
    padding: 0 10px;
    width: auto;
    text-align: left;
}

.yellow-header {
    color: #DF9630;
}

.tab-content {
    background-color: white;
    padding: 10px;
    border: none;
}

.nav-tabs li a:focus {
    outline: 0;
}

.designTab .nav-tabs {
    border: none;
}

.designTab .nav-tabs > li > a,
.designTab .nav-tabs > li.active > a,
.designTab .nav-tabs > li > a:hover {
    border: none;
}

.designTab .tabs > li > a {
    color: rgb(61, 61, 61);
}

.designTab .nav-tabs > li.active > a,
.designTab .nav-tabs > li.active > a:hover,
.designTab .nav-tabs > li.active > a:focus {
    background-color: #fff;
    border: none;
    border-color: none;
    border-style: none;
    cursor: default;
}

.designTab .nav-tabs > li.active > a {
    color: rgb(65, 100, 126);
}

.innerTab {

}

.innerTab .nav-tabs {
    border-bottom: 1px solid #ddd;
}

.innerTab .nav-tabs > li.active > a,
.innerTab .nav-tabs > li.active > a:hover,
.innerTab .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555;
    cursor: default;
}

hr {
    border-style: dotted;
    border-color: rgb(61, 61, 61);
    border-width: 1px 0 0;
    z-index: 100;
}

hr.white {
    border-color: white;
}

.left-sidebar hr {
    margin-bottom: 8px;
    margin-top: 7px;
}

.left-sidebar .left-menu {
    width: 85%;
}

.left-sidebar h4 {
    color: rgb(65, 100, 126);
    font-weight: bold;
}

.left-sidebar li.active a {
    color: #DF9630;
}

.bottom #right-button {
    float: right
}

.page h4 {
    color: rgb(65, 100, 126);
    text-decoration: none;
    font-weight: bold;
}

.page h3 {
    color: rgb(65, 100, 126);
    font-weight: bold;
    text-decoration: underline;
}

.page h1 {
    color: #DF9630; /* rgb(223, 150, 48) */
    font-weight: bold;
    font-size: 24pt;
    margin-bottom: 15px;
}

.underline {
    text-decoration: underline !important;
}

.img-margin-t-b {
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-margin-l-b {
    margin-left: 5px;
    margin-bottom: 5px;
}

.padding-0 {
    padding: 0px;
}

.white-container {
    background-color: #ffffff;
    padding: 10px 15px;
    border: solid 1px #fff;
    border-radius: 5px;
    /*opacity:0.7; */
}

.topbar .getStarted {
    width: 122px;
    white-space: nowrap;
}

.topbar .features {
    width: 99px;
}

.topbar .documentation {
    width: 143px;
}

.topbar .news {
    width: 77px;
}

.topbar .contactUs {
    width: 113px;
}

.hljs {
    background-color: #f5f5f5;
}

.topbar .menu {
    background-color: rgb(223, 150, 48);
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    float: right;
    height: 100% !important;
    padding: 16px 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.topbar .menu::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.topbar .menu .menu-button-stripe {
    border-bottom: 4px solid #fff;
    box-sizing: border-box;
    height: 5px;
    margin-bottom: 5px;
    width: 35px;
}

.topbar .nav.menu-open {
    display: block;
}

#service-folder-tree {
    width: auto;
}

#dashboard-form, #dashboard-grid {
    max-width: 750px;
}

.btn-primary {
    background-color: #DF9630;
    border-color: #DF9630;
    color: #fff;
}

.backToTop {
    display: none;
}

div.bulletin {
    border: solid 1px #efefef;
    border-radius: 8px;
    clear: both;
    display: table;
}

div.bulletin div.head {
    background-color: #F5F5F5;
    border-bottom: solid 1px #efefef;
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
}

div.bulletin div.body {
    padding: 5px;
}

div.bulletin div.body div.txt {
    float: left;
    width: 57%;
    padding: 30px;
}

div.bulletin div.body div.txt.w-100 {
    width: 100%;
    padding: 30px;
}
div.bulletin div.body div.w-100 {
    width: 100%;
    padding: 30px;
}

div.bulletin div.body div.img {
    float: left;
    width: 42%;
}
div.bulletin div.body div.img img{
    max-width: 97%;
}
.t-right {
    text-align: right;
}

.t-left {
    text-align: left
}

.releaseDate {
    float: right;
}

.releases {
    border: 1px solid;
    padding: 10px;
}

.repoFeatures {
    /*padding-left: 10px;*/
}

#newsPage .bulletin {
    width: 100%;

}

#newsPage .bulletin .body {
    padding: 10px;
}

#newsPage .bulletin ul li {
    margin-top: 5px;
}

#newsPage .bulletin ul li ul li {
    margin-top: 0px;
}

#newsPage .bulletin ul li ul li span,
#newsPage .bulletin ul li span {
    color: rgb(34, 34, 34);
}

#newsPage b.etest {
    color: rgb(119, 34, 100);
}

#newsPage b.feature {
    color: #139948;
}

#newsPage b.bug {
    color: #e41f28;
}

/*********************************/
.fileLocation{
    width: 40%;
    word-break: break-all;
    vertical-align: top;
}
.dLink{
    width:28%;
    word-break: break-all;
}
.rdParty{
  width: 14%;
}
.pckages{
   /*width: 20%;*/
}
.pckages ul{
    padding-left: 15px;
}
.rdParty ul {
    padding-left: 20px;
}

.listTable tr.even {
    background-color: rgb(245, 245, 245);
}
.docker-links{
    padding-left: 15px;
}

#prodEnvList{
    display: none;
}
.docker-files-list{
    display: none;
}

.pckName{
    width: 15%;
}
.pckVersion{
    width: 15%;
}
#GoldfishReleaseTable, #ClownfishReleaseTable, #ThornfishReleaseTable{
    width: 98%;
}
/*********************************/

table.myTable td.description div{
    clear:both;
    width:100%;
}
table.myTable td.description div b{
    float:left;
}

ul.straight-line{
    margin: 0 0 0 10px;
    padding: 0;
    list-style-type: none;
    clear:right;
    float:left;
}

ul.straight-line li {
    float:left;
    margin-right:10px;
}

ul.straight-line li + li:before{
    content: "- ";
    margin-right:5px;
}

.myTable th.noBreak{
    word-break: keep-all;
}
.myTable tr.noBreak th{
    word-break: keep-all;
}