@charset "utf-8";
/* CSS Document */
@-ms-viewport {
    width: device-width;
}
.hidden {
    display: none;
    visibility: hidden;
}
.visible-phone {
    display: none !important;
}
.visible-tablet {
    display: none !important;
}
.hidden-desktop {
    display: none !important;
}
.visible-desktop {
    display: inherit !important;
}
.visible-print {
    display: none !important;
}
@media print {
    .visible-print {
        display: inherit !important;
    }
    .hidden-print {
        display: none !important;
    }
}

.topbar .menu {
    background-color: black;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    float: right;
    height: 100% !important;
    padding: 16px 20px;
}
.topbar .menu::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.topbar .menu .menu-button-stripe {
    border-bottom: 4px solid #fff;
    box-sizing: border-box;
    height: 5px;
    margin-bottom: 5px;
    width: 35px;
}
.topbar .nav.menu-open {
    display: block;
}


@media screen and (min-width: 1000px) {
    .topbar .nav-container {
        margin: 0 auto;
        width: 997px;
    }
    .bottom .sharing-footer {
        margin: 0 auto;
        width: 997px;
    }
    .main-section-container {
        margin: 0 auto;
        width: 997px;
        padding: 0 0 60px;
        display: table;
    }

    .banner .banner-container {
        margin: auto;
        width: 997px;
        padding: 220px 0 100px;
        position: relative;
        padding-top: 80px;
    }
    .white-banner .banner-container {
        box-sizing: border-box;
        margin: 0 auto;
        width: 997px;
        padding: 15px 0;
    }
    .soajs-features .features-container {
        box-sizing: border-box;
        margin: 0 auto;
        width: 997px;
    }
    .powered-by-container {
        margin: 0 auto;
        width: 997px;
    }
}
