@media (min-width: 768px) and (max-width: 999px) {
    .hidden-desktop {
        display: inherit !important;
    }
    .visible-desktop {
        display: none !important ;
    }
    .visible-tablet {
        display: inherit !important;
    }
    .hidden-tablet {
        display: none !important;
    }
    img {
        max-width:900px;
    }
    .topbar .nav-container {
        margin: 0 auto;
        width: 97%;
    }
    .bottom .sharing-footer {
        margin: 0 auto;
        width: 97%;
    }
    .main-section-container {
        margin: 0 auto;
        width: 97%;
    }

    .banner .banner-container {
        margin: 0 auto;width: 97%;
    }
    .white-banner .banner-container {
        margin: 0 auto;width: 97%;
    }
    .soajs-features .features-container {
        margin: 0 auto;width: 97%;
    }
    .topbar .topnav {
        padding-left: 15px;
    }
}

@media (max-width: 767px) {
    .hidden-desktop {
        display: inherit !important;
    }
    .visible-desktop {
        display: none !important;
    }
    .visible-phone {
        display: inherit !important;
    }
    .hidden-phone {
        display: none !important;
    }
    .topbar .topnav {
        padding-left: 15px;
    }
    .topbar .branding {
        width:175px;
    }
    img {
        max-width:730px;
    }

    .bottom {
        font-size: 16px;
    }
    .small-button {
        font-size: 16px;
        height: 43px;
        padding: 8px 30px;
        margin-right: 10px;
    }
    .topbar .nav-container {
        width: 100%;
    }
    .bottom .sharing-footer {
        width: 100%;
    }
    .main-section-container {
        width: 100%;
    }

    .banner .banner-container {
        width: 100%;
    }
    .white-banner .banner-container {
        width: 100%;
    }
    .soajs-features .features-container {
        width: 100%;
    }

    .main-section-container {
    }

    .soajs-features .features-container .feature-list li {
        padding: 0 0 0 30px;
        position: relative;
        min-height: 200px;
        width: 97%;
        margin: 10px 0 0 0;
    }
    .soajs-features .feature-list li img.icon {
        width:28px;
        padding-top: 8px;
        padding-right: 5px;
        /*width: 50px;*/
    }

    .powered-by-container {
        padding: 50px 0 20px;
        width: 97%;
    }
    .powered-by-container .powered-icon {
        height: 70px;
    }
    .powered-by-container .powered-icon img{
        max-width: 110px;
    }
}


@media (max-width: 687px) {
    img {
        max-width:630px;
    }
    .topbar .branding img.logo {
        width:155px;
    }
    .topbar .topnav {
        padding-left: 5px;
    }
    .topbar .branding {
        width:155px;
    }
    .topbar .getStarted {
        width: 100%;
    }

    .topbar .contactUs, .topbar .documentation,.topbar .features {
        width: 100%;
    }

    .topbar .menu {
        display: block !important;
    }
    .topbar .menu.menu-open {
        background-color: #212c2e;
    }

    .topbar .topnav {
        background-color: #212c2e;
        display: none;
        padding: 0;
        position: absolute;
        right: 0;
        top: 60px;
        width: 200px;
    }
    .topbar .topnav li {
        border-bottom: 1px solid #001c20;
        float: none;
        font-size: 20px;
        height: 45px;
    }
    .topbar .topnav li.no-mobile {
        display: none;
    }
    .topbar .topnav li a {
        box-sizing: border-box;
        color: #fff;
        display: block;
        font-weight: 400;
        margin: 0;
        padding: 12px 25px 13px;
        width: 100%;
    }
    .topbar .topnav li a.current {
        border-bottom: medium none;
        color: #41bac2;
        font-weight: 600;
    }
    .topbar .topnav li:last-child {
        border-bottom: medium none;
    }
    .topbar .topnav li:last-child a {
        padding-bottom: 16px;
    }
    .topbar .topnav.menu-open {
        display: block;
    }
    .powered-by-container .powered-icon img{
        max-width: 100px;
    }
}

@media (max-width: 630px) {
    body, html {
        font-size: 14px;
        line-height: 1.6em;
    }
    img {
        max-width:600px;
    }
    .powered-by-container {
        padding: 30px 0 20px;
        width: 97%;
    }
    .powered-by-container .powered-icon {
        height: 50px;
    }
    .powered-by-container .powered-icon img{
        max-width: 70px;
    }
    .left-sidebar .left-menu {
        width: 90%;
        font-size: 12px;
    }
    .left-sidebar .left-menu h4{
        font-size: 14px;
    }
}