@media (max-width: 687px){
    body, html {
        font-size: 14px;
        line-height: 1.7em;
    }
    .banner .banner-container{
        padding: 70px 0 70px;
    }

    .topbar .branding {
        width: 175px;
    }
    .topbar .branding img.logo {
        width:173px;
        max-width:173px;
    }
    .powered-by-container .powered-icon img{
        max-width: 100px;
    }

    .banner .banner-container .left-main{
        float: none;
        clear: both;
        width: 95%;
        margin: 0 auto;
    }

    .features-page .main-section-container .feature-list ul li {
        padding: 35px 0;
    }
    .features-page .main-section-container .feature-list ul li p{
        font-size: 13px;
        line-height: 1.6em;
    }
    .features-page .main-section-container .feature-list ul li .std-list li{
        font-size: 13px;
    }
    #indexjsImg{
        clear: both;
        width: 85%;
    }
    #dashboardpng{
        width: 85%;
    }
    .soajs-features .features-container .features p {
        font-size: 15px;
        width: 90%;
        margin: 0 auto;
    }
    .soajs-features .features-container .features h1 {
        font-size: 26px;
    }
    .soajs-features{
        padding: 40px 0;
    }
    .soajs-features .feature-list li h5{
        font-size: 16px;
    }
    .soajs-features .features-container .feature-list li.odd {
        margin-right: 0;
    }
    #twitter-badge{
        float:right;
        margin:20px 0 0 0;
    }

    #section-footer .bottom .copyright {
        padding-top: 0;
    }

    #prodEnvTable{
        display: none;
    }
    .docker-files-table{
        display: none;
    }
    .docker-files-list{
        display: block;
    }
    #prodEnvList{
        display: block;
    }
    div.bulletin div.body div.txt, div.bulletin div.body div.w-100{
        padding: 20px;
    }
    #GoldfishReleaseTable{
        width: 100%;
    }
    .pckName{
        width: 63px;
    }
    .myTable thead th.pckName{
        word-break: keep-all;
    }
    .myTable thead th.pckVersion{
        word-break: keep-all;
    }
    #ClownfishReleaseTable .pckName, #ClownfishReleaseTable .pckVersion{
        width: 20%;
    }
}

@media (max-width: 640px) {
    html, body, ul li, p {
        font-size: 14px;
        line-height: 1.6em;
    }
    fieldset legend{
        font-size: 16px;
    }
    pre code{
        font-size: 12px;
    }
    .page h1 {
        font-size: 18pt;
    }
    h3 {
        font-size: 18px;
    }
    h4, .h4 {
        font-size: 16px;
    }
    img{
        width: 90%;
    }
    .core-image{
        width: auto;
    }
    .topbar .branding img.logo {
        width:173px;
    }
    .soajs-features .feature-list li p {
        font-size: 14px;
        line-height: 1.6em;
    }

    .banner .banner-container .left-main{
        background-repeat: no-repeat;
        background-size: 50%;
    }
    .beaverImg{
        /*display: none;*/
        background-image: url(../images/beaver.png);
    }
    .two{
        width: 100%;
    }
    #beaverAlone{/*
        display: inline;
        width: 40%;
        float: right;
        padding-top: 20px;
        */
    }
    .five, .four, .three{
        width:  60%
    }
    .banner .banner-container .tagline p{
        /*width: 90%;*/
        font-size: 15px;
    }
    .powered-by-container h1{
        font-size: 20px;
        margin-top: 15px;
    }
    .powered-by-container .powered-icon {
        height: 50px;
    }
    .powered-by-container .powered-icon img{
        max-width: 100px;
    }
    .left-sidebar .left-menu {
        font-size: 12px;
        width: 100%;
    }

    .left-sidebar .left-menu h4{
        font-size: 14px;
    }
    .feature-list td.left, .feature-list td.right{
        width: 0;
        display: none;
    }
    .feature-list .left img, .feature-list .right img{
        display: none;
    }
    .features-page table tr.odd td.middle, .features-page table tr.even td.middle{
        padding: 0;
    }
    .left-sidebar {
        float: none;
        width:100%;
        padding-top: 15px;
        z-index: 100;
        height:auto;
        border-bottom-style: dotted;
        border-bottom-color: rgb(61, 61, 61);
        border-bottom-width: 1px;
        cursor:pointer;
    }
    .left-sidebar:after {
        clear: both;
        content: " ";
        display: block;
    }
    .left-sidebar section{
        float:left;
        padding-left: 7px;
        padding-right: 7px;
        width: 20%;
        position:relative;
        outline: 0;
    }
    .left-sidebar section h4{
        padding-left: 10px;
        margin-bottom: 5px;
    }
    .left-sidebar section hr, .left-sidebar section br, .left-sidebar section ul{
        display:none;
    }

    .left-sidebar section ul li {
        padding-top: 15px;
    }

    .left-sidebar section:hover > ul{
        display:block;
        position:absolute;
        margin-left: -10px;
        z-index: 100;
        padding: 0 15px 15px 20px;
        border-color: rgb(61, 61, 61);
        transition:all ease 0.5s;
        opacity: 0.95;
        background-color: rgb(65, 100, 126);
    }
    .left-sidebar section ul li a{
        color: #ffffff;
    }
    .left-getStartedSidebar section:hover > ul{
        width: 190px;
    }
    .right-sidebar {
        float: none;
        width: 100%;
        display: block;
        clear: both;
    }
    .main-section-container h1{
        padding-left: 15px;
    }

    .myTable th, .myTable td {
        padding: 10px 8px;
        font-size: 12px;
        word-break: break-all;
    }
    .myTable td, ul li{
        font-size: 12px;
    }
    .myTable thead th {
        font-size: 14px;
    }
    .myTable td ul {
        list-style: none;
        padding-left: 30px;
    }
    .myTable td ul li:before {
        content: "•";
        font-size: 13px; /* or whatever */
        padding-right: 5px;
    }
    #urac-override-acl{
        width: 85%;
        max-width: 90%;
    }
    #dashboardpng{
        width: 90%;
        max-width: 90%;
    }
    #example03png, #example01png, #example02-oauth, #getstarted_ex02, #oAuth-workflow{
        width: 90%;
    }
    #core-db-replica{
    }
    .small-button {
        padding: 8px 20px 8px;
        font-size: 15px;
    }
    pre code{
        font-size: 11px;
        word-break: break-all;
    }
    .white-banner .banner-container .repos ul li .repoLabel{
        font-size:13px;
    }
    .white-banner .banner-container .repos ul li .repoLinks{
        vertical-align: baseline;
    }
    /*
    .white-banner .banner-container .repos ul li img{
        width: auto;
    }
    */
    /**/
    .bottom .copyright{
        /*width:175px;*/
        padding-top: 0;
    }

    #twitter-badge{
        float:right;
        margin:20px 0 0 0;
    }
    .twitter-icon {
        margin-right: 10px;
    }


    div.bulletin div.body div.txt{
        float: none;
        width: 99%;
        padding-bottom: 15px;
    }
    div.bulletin div.body div.img{
        width: 80%;
    }
    div.bulletin div.body div.img img{
        width: auto;
    }

}