@charset "utf-8";
/* CSS Document */
@-ms-viewport {
    width: device-width;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visible-phone {
    display: none !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

.visible-desktop {
    display: inherit !important;
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: inherit !important;
    }

    .hidden-print {
        display: none !important;
    }
}

@media (min-width: 480px) {
    .row-xs-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }

    .col-xs-height {
        display: table-cell;
        float: none;
        height: 100%;
    }

    .col-xs-top {
        vertical-align: top;
    }

    .col-xs-middle {
        vertical-align: middle;
    }

    .col-xs-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 768px) {

    /**********************
    *
    * Homepage modules sections
    *
    **********************/
    .modules h2{
        height: 60px;
    }

    .modules p{
        height: 150px;
    }


    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }

    .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%;
    }

    .col-sm-top {
        vertical-align: top;
    }

    .col-sm-middle {
        vertical-align: middle;
    }

    .col-sm-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 992px) {

    .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }

    .col-md-height {
        display: table-cell;
        float: none;
        height: 100%;
    }

    .col-md-top {
        vertical-align: top;
    }

    .col-md-middle {
        vertical-align: middle;
    }

    .col-md-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 1023px){
    /**********************
    *
    * Homepage modules sections
    *
    **********************/
    .modules h2{
        height: 60px;
    }

    .modules p{
        height: 120px;
    }
}

@media (min-width: 1200px) {

    /**********************
    *
    * Homepage modules sections
    *
    **********************/
    .modules h2{
        height: 70px;
    }

    .modules p{
        height: 180px;
    }

    .row-lg-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }

    .col-lg-height {
        display: table-cell;
        float: none;
        height: 100%;
    }

    .col-lg-top {
        vertical-align: top;
    }

    .col-lg-middle {
        vertical-align: middle;
    }

    .col-lg-bottom {
        vertical-align: bottom;
    }

    .youtubevideoPlayer{
        /*height: 412px;*/
        height: 300px;
    }
}

@media (min-width: 1441px) {
    .youtubevideoPlayer{
        height: 412px;
        /*height: 300px;*/
    }
}

/***
max widths
*/
@media (max-width:1025px){
    .bottom .menu {
        padding-top:50px;
    }

    .socialMedia {
        margin-top: 30px;
    }

    .youtubevideoPlayer{
        height: 448px;
    }
}

@media (max-width: 920px) {
  .topbar .topnav li a{
    font-size: 12.5px;
  }
  .navbar-right{
    margin-top:8px;
  }


    .youtubevideoPlayer{
        height: 336px;
    }
}

@media (max-width: 800px) {

    .whatis .content {
        margin: 0;
        padding: 0;
        height: 600px;
        padding-top: 20px;
        /*padding-bottom: 80px;*/
        width: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        background: rgba(0, 0, 0, 0.6);
        transition: all 1s;
        -webkit-transition: all 1s;

    }

    .blue-section .itemsList{
        padding: 50px;
        min-height: 250px;
        box-shadow: none;
        display: block;
    }

    .blue-section2 .itemsList{
        min-height: 300px;
        padding: 50px;
        box-shadow: none;
        display: block;
    }

    .col-sm-height {
        display: block;
        float: none;
    }
  .topbar .topnav li a{
    font-size: 11px;
  }
}

@media (max-width: 767px) {
    .nav-tabs {
        font-size: 12px;
    }
  .topbar .topnav li a
  {
    font-size:16px;
  }
    .oneRepo .repoNews {
        padding: 0;
    }

    #bs-example-navbar-collapse-1 {
        border-top: 0;
    }

    .topbar .topnav li a {
        text-align: left;
        padding-left: 17px;
    }

    .navbar-header {
        float: right;
        position:absolute;
        right: 5px;
    }

    .navbar-default .navbar-header button .icon-bar {
        background-color: white;
    }

    .topbar.scrolling {
        background: none;
    }

    .topbar .topnav {
        float: right;
        min-height: 500px;
    }

    .topbar .navbar-collapse {
        background-color: #19303f;
        width: 200px;
        float: right;
        padding: 0;
        text-align: right;
    }

    .topbar.scrolling .topnav li a,
    .topbar .navbar-collapse .topnav li:hover a,
    .topbar .navbar-collapse .topnav li:hover,
    .topbar.scrolling .navbar-collapse .topnav li:hover a,
    .topbar.scrolling .navbar-collapse .topnav li:hover {
        border: none;
        /*border-color: #19303f;*/
    }

    .topbar .navbar-collapse .topnav li,
    .topbar .navbar-collapse .topnav li:hover,
    .topbar.scrolling .navbar-collapse .topnav li,
    .topbar.scrolling .navbar-collapse .topnav li:hover {
        border-bottom: 1px solid gray;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        width: 100%;
    }

    .topbar.scrolling .topnav .dropdown-menu,
    .navbar-nav .open .dropdown-menu {
        text-align: right;
    }

    .topbar .topnav li a,
    .topbar.scrolling .topnav .dropdown-menu li a,
    .topbar.scrolling .topnav .dropdown-menu li.active a {
        color: white !important;
        margin-right: 12px;
    }

    ul.topnav.navbar-nav.navbar-right {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .topbar .topnav li {
        padding-left: 0;
        padding-right: 0;
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }


    .jumbotron h1, .jumbotron .h1{
        font-size:32px !important;
    }

    body{
        font-size:14px;
    }
}

@media (max-width: 480px) {

    .fieldMsg{
        font-size:13px;
    }

    .youtubevideoPlayer{
        height: 162px;
    }

    .nav-tabs {
        font-size: 8px;
    }

    .g-recaptcha {
    transform:scale(0.7);
    transform-origin:0;
    -webkit-transform:scale(0.7);
    transform:scale(0.7);
    -webkit-transform-origin:0 0;
    transform-origin:0 0;

  }

    form .form-group {
        padding: 0;
    }

    img.thumb {
        max-width: 120px;
    }

    .panel-heading {
        height: 70px;
    }

    .panel-heading h4 a {
        float: left;
        width: 100%;
    }

    .panel-heading .pull-right {
        float: left !important;
        margin-top: 7px;
    }

    .panel-heading .text-right {
        text-align: left;
    }

    .form-group {
        overflow: hidden;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        /*padding: 2px;*/
    }
    .jumbotron h1, .jumbotron .h1{
        font-size:32px !important;
    }
    body{
        font-size:13px;
    }

    h2, .h2 {
        font-size: 20px;

    }
    .btn{
        font-size: 11px;
    }
}

/*
@media screen and (min-width: 760px) and (max-width: 820px) {
  .topbar .branding{
    display: none;
  }

}

*/
