# step 1, complete data layer installation
$ docker run -p 27017:27017 -v /data:/data -v /data/db:/data/db mongo mongod --smallfiles

# step2, provision the sample data
$ cd /opt/soajs/node_modules/soajs.utilities/lib/
$ node index data import provision $(docker inspect --format="{{.NetworkSettings.IPAddress }}" development_nginx_1)
$ node index data import urac $(docker inspect --format="{{.NetworkSettings.IPAddress }}" development_nginx_1)