<div class="page">
	<div class="main-section-container"><br>
		<div class="white-container">
		<div ng-controller="contactCtrl">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
			<br> <br> <br>
			SOAJS TEAM is looking forward to get in touch with you,
			please email us to <a href="mailto:team@soajs.org">team@soajs.org</a>, and we will get back to you as soon as possible.
			<br><br><br><br>
			<!--
			SOAJS TEAM is looking forward to get in touch with you,

			please fill out the form below and we will get back to you as soon as possible.<br/>

			<form name="contactForm" ng-submit="contactForm.$valid && sendContact()" novalidate>-->
				<!--<label> Name </label>-->
				<!--<input ng-model="contact.name" type="text" placeholder="Full Name" class="form-control" tooltip="Enter your full name..." required/><br />-->
				<!--<label>Email</label>-->
				<!--<input ng-model="contact.email" type="email" class="form-control" placeholder="jimmyDean@example.org" tooltip="Enter your email address..." required/><br />-->

				<!--<label>Purpose </label>-->
				<!--<select ng-model="contact.purpose" class="form-control" tootltip="Pick a purpose for your message..." required>-->
					<!--<option value=""> -- How can we help you --</option>-->
					<!--<option value="Support">I need Support</option>-->
					<!--<option value="Contribute">I want to Contribute</option>-->
					<!--<option value="Feedback">I have feedback</option>-->
					<!--<option value="Consultancy">I need Consultancy</option>-->
				<!--</select><br />-->
				<!--<label>Your message</label>-->
				<!--<textarea required class="form-control" placeholder="Write your message here..." tooltip="Provide as much information as possible in your message..." rows="10" ng-model="contact.message"></textarea>-->
				<!--<br>-->
				<!--<input type="submit" class="btn btn-primary pull-right" value="Submit"/>-->
				<!--<br class="clearfix">-->
			<!--</form>-->
		</div>
	</div>
	</div>
</div>

