<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div ng-controller="contactCtrl">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <div class="col-lg-6 col-md-12">
                <h2>Send us a message</h2>
                <form name="contactForm" ng-submit="contactForm.$valid && sendContact()" novalidate>

                    <div class="form-group">
                        <input ng-model="contact.name" type="text" placeholder="Your Name" class="form-control"
                               tooltip="Enter your full name..." required/>
                    </div>
                    <div class="form-group">
                        <input ng-model="contact.email" type="email" class="form-control"
                               placeholder="Email" tooltip="Enter your email address..." required/>
                    </div>

                    <div class="form-group">
                        <select ng-model="contact.purpose" class="form-control"
                                tootltip="Pick a purpose for your message..." required>
                            <option value=""> -- Subject --</option>
                            <option value="Support">I need Support</option>
                            <option value="Contribute">I want to Contribute</option>
                            <option value="Feedback">I have feedback</option>
                            <option value="Consultancy">I need Consultancy</option>
                        </select></div>

                    <div class="form-group">
                <textarea required class="form-control" placeholder="Write your message here..."
                          tooltip="Provide as much information as possible in your message..." rows="10"
                          ng-model="contact.message"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="6LcMzgMTAAAAAKd0Lqit5HJUI2Y6evlriyxT8-Zj"></div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn yellow yellow-dark-hover white-txt pull-right"
                               value="Submit"/>
                    </div>
                    <br class="clearfix">
                </form>
                <div class="separator50"></div>
            </div>
            <div class="col-lg-6 col-md-12">
                <h2>Contact details</h2>
                <h4 class="yellow-dark-txt">Email</h4>
                info@soajs.org
                <h4 class="yellow-dark-txt">PHONE NUMBER</h4>
                00961 123456
                <h4 class="yellow-dark-txt">FOLLOW US</h4>
                <div class="socialMedia   col-lg-12">
                    <i class="fbColor navy-dark-hover yellow-dark-txt-hover white-txt circle icon-footer-facebook-color"></i>
                    <i class="twitterColor navy-dark-hover yellow-dark-txt-hover white-txt circle icon-footer-linkedin"></i>
                    <i class="instaColor navy-dark-hover yellow-dark-txt-hover white-txt circle icon-footer-twitter-color"></i>
                </div>
            </div>

            <div class="clearfix"></div>
            <hr class="full-width">
            <div class="clearfix"></div>
            <div class="col-lg-12 col-md-12 text-center">
                <h2>Interested in joining our team? </h2>
                Send us your CV and job position to <a href="mailto:team@soajs.org">team@soajs.org</a>
                <div class="separator50"></div>
                <div class="separator50"></div>
            </div>

        </div>
    </div>tt
</div>