<div class="page" ng-controller="homePageCtrl">

    <div class="container">
        <div class="row">

            <div class="separator50"></div>
            <div class="separator100"></div>
            <div class="col-lg-3 col-md-6  col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="yellow-light white-txt circle icon-cogs"></i>
                    <div class="separator50"></div>
                    <h2>1. Develop</h2>
                    <div class="separator10"></div>
                    <p>Capable of running on any data source or existing technology</p>
                    <a class="yellow-txt">Learn More ></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  col-sm-6  col-xs-12 text-center">
                <div class="icon">
                    <i class="red white-txt circle icon-home-manage"></i>
                    <div class="separator50"></div>
                    <h2>2. Manage</h2>
                    <div class="separator10"></div>
                    <p>Full blown API management, lifecycle and gateway management</p>
                    <a class="red-txt">Learn More ></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  col-sm-6 col-xs-12  text-center">
                <div class="icon">
                    <i class="green white-txt circle icon-home-deploy"></i>
                    <div class="separator50"></div>
                    <h2>3. Deploy</h2>
                    <div class="separator10"></div>
                    <p>Capable of running on any data source or existing technology</p>
                    <a class="green-txt">Learn More ></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  col-sm-6 col-xs-12 text-center ">
                <div class="icon">
                    <i class="blue white-txt circle icon-home-operate"></i>
                    <div class="separator50"></div>
                    <h2>4. Operate</h2>
                    <div class="separator10"></div>
                    <p>Capable of running on any data source or existing technology</p>
                    <a class="blue-txt">Learn More ></a>
                </div>
            </div>

            <div class="col-xs-12 separator50"></div>

        </div>
    </div>
    <div class="text-center white-txt whatis">
        <div class="content">
            <h2>what is soajs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm
                <dtempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
                         sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                         incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
                         sit amet, consectetur adipiscing elit.
            </p>
            <div class="separator50"></div>
            <button type="button" class="btn yellow-dark white-txt yellow-light-hover">Get Started</button>&nbsp;
            <button type="button" class="btn yellow-dark white-txt yellow-light-hover">Install Dashboard</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="simple text-center navy-dark-txt">
                <h2>Join the SOAJS community</h2>
                <div class="separator50"></div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <h2 class="yellow-dark-txt">320</h2>
                    <p>Developers using Soajs</p>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <h2 class="yellow-dark-txt">1000+</h2>
                    <p>Apps Created</p>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <h2 class="yellow-dark-txt">620</h2>
                    <p>Downloads per week</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row-height  navy white-txt text-center">
        <div class="col-md-6 col-md-12 col-sm-height navy">
            <div class="inside inside-full-height">
                <div class="content">

                    <h2>What are you developing with SOAJS?</h2>
                    <div class="separator10"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>

                    <div class="separator50"></div>
                    <button type="button" class="btn navy bordered white-border white-txt white-hover">Submit your
                        project
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-sm-height navy-dark ">
            <div class="inside inside-full-height">
                <div class="content">
                    <form name="requestForm" ng-submit="" novalidate class="colorForm">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12">
                                <input ng-model="contact.name" type="text" class="form-control" placeholder="First Name"
                                       tooltip="Enter your first name" required/></div>
                            <div class="col-md-6 col-sm-12">
                                <input ng-model="contact.lname" type="text" class="form-control" placeholder="Last Name"
                                       tooltip="Enter your last name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12">
                                <input ng-model="contact.email" type="email" class="form-control" placeholder="Email"
                                       tooltip="Enter your email address..." required/>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input ng-model="contact.company" type="text" class="form-control" placeholder="Email"
                                       tooltip="Enter your comapny name..." required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12">
                                <input ng-model="contact.role" type="text" class="form-control" placeholder="Rolee"
                                       tooltip="Enter your business role" required/></div>
                            <div class="col-md-6 col-sm-12">
                                <input ng-model="contact.country" type="text" class="form-control" placeholder="Country"
                                       tooltip="Enter your country" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12">
                                <textarea required class="form-control" placeholder="Message"
                                          tooltip="Provide as much information as possible in your message..." rows="10"
                                          ng-model="contact.message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn navy bordered white-border white-txt white-hover">Submit your Request
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12 orange-shade white-txt text-center">
        <h2>Need help with your project? <b>Contact our support team</b></h2>

    </div>
    <div class="simple">
        &nbsp;
        <div class="separator50">&nbsp;</div>
    </div>

</div>
