<div class="page" ng-controller="homePageCtrl">
    <!-- Rounded  Icons Section -->
    <div class="container">
        <div class="row">
	        <div class="col-xs-12 separator50"></div>
            <div class="col-lg-3 col-md-6  col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="yellow-light white-txt circle icon-cogs"></i>
                    <div class="separator50"></div>
                    <h2>Develop</h2>
                    <div class="separator10"></div>
                    <p>Capable of running on any data source or existing technology</p>
                    <a class="yellow-txt"   href="javascript: window.location.href='/platform#develop'">Learn More ></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="red white-txt circle icon-home-manage"></i>
                    <div class="separator50"></div>
                    <h2>Manage</h2>
                    <div class="separator10"></div>
                    <p>Full blown API management, lifecycle and gateway management.</p>
                    <a class="red-txt"   href="javascript: window.location.href='/platform#manage'">Learn More ></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  col-sm-6 col-xs-12  text-center">
                <div class="icon">
                    <i class="green white-txt circle icon-home-deploy"></i>
                    <div class="separator50"></div>
                    <h2>Deploy</h2>
                    <div class="separator10"></div>
                    <p>Making the cloud as simple as a “click click click- done. That easy &trade;.</p>
                    <a class="green-txt" href="javascript: window.location.href='/platform#deploy'">Learn More ></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  col-sm-6 col-xs-12 text-center ">
                <div class="icon">
                    <i class="blue white-txt circle icon-home-operate"></i>
                    <div class="separator50"></div>
                    <h2>Operate</h2>
                    <div class="separator10"></div>
                    <p>Fully manages and operates all products ensuring ROI is achieved.</p>
                    <a class="blue-txt"   href="javascript: window.location.href='/platform#operate'">Learn More ></a>
                </div>
            </div>
            <div class="col-xs-12 separator50"></div>
        </div>
    </div>
    <!-- The parrallex image section--->
    <div class="text-center white-txt whatis">
        <div class="content">
	        <div class="col-lg-12">&nbsp;
	            <h2>What is SOAJS<span style="position:relative; top:-3px;font-size:16px;vertical-align:super;">&trade;</span></h2>
	            <p>
		            A complete Enterprise Open Source aPaaS to build auto-scaling SOA based solutions.<br />
		            Our aPaaS is the richest integrated and harmonized platform on the market covering all your needs:<br />
		            Framework - API Management & Lifecycle - Continuous Integration & Delivery - Metrics<br />
		            and it is also adaptable to what you already have.
	            </p>
	            <div class="col-xs-12 separator50"></div>
	            <a type="button" class="btn yellow-dark white-txt yellow-light-hover" href="/getstarted">Get Started</a>&nbsp;
	            <a type="button" class="btn yellow-dark white-txt yellow-light-hover" href="/documentation">See The Docs</a>
	        </div>
        </div>
    </div>


    <!-- Join the community white section  ( Badges )-->
    <div class="container">
        <div class="row">
            <div class="simple text-center navy-dark-txt">

                <div class="separator50"></div>
                <h2>Join the SOAJS community</h2>
                <div class="separator50"></div>
                <div ng-repeat="badge in repos">

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <H2 class="yellow-dark-txt" ng-if="badge.documentation">
                            <a ng-if="!badge.external" href="{{badge.documentation}}">{{badge.label}}</a>
                            <a ng-if="badge.external" target="_blank"
                               href="{{badge.documentation}}">{{badge.label}}</a>
                        </H2>
                        <div id="repo{{badge.id}}" class="badgesinner">
                            <div class="repoLabel" ng-if="!badge.documentation"><a>{{badge.label}}</a></div>
                            <div class="repoLinks npm" ng-if="badge.npm">
                                <a href="https://badge.fury.io/js/{{badge.npm}}" target="_blank"><img
                                    ng-src="https://badge.fury.io/js/{{badge.npm}}.svg" alt="NPM version"></a>
                            </div>
                            <div class="repoLinks travis" ng-if="badge.travis">
                                <a href="https://travis-ci.org/{{badge.travis}}" target="_blank"><img
                                    data-bindattr-732="732" ng-src="https://travis-ci.org/{{badge.travis}}.svg"
                                    alt="Build status"></a>
                            </div>

                            <div class="repoLinks coveralls" ng-if="badge.coveralls">
                                <a href="https://coveralls.io/r/{{badge.coveralls}}" target="_blank"><img
                                    ng-src="https://coveralls.io/repos/{{badge.coveralls}}/badge.svg"
                                    alt="Coverage Status"></a>
                            </div>
	
	                        <div class="repoLinks snyk" ng-if="badge.snyk">
		                        <a href="https://snyk.io/test/github/{{badge.snyk}}" target="_blank">
	                                <img src="https://snyk.io/test/github/{{badge.snyk}}/badge.svg" alt="Known Vulnerabilities" data-canonical-src="https://snyk.io/test/github/{{badge.snyk}}" style="max-width:100%;"/>
		                        </a>
	                        </div>
	                        
                            <div class="repoLinks docker" ng-if="badge.docker">
                                <div style="height:12px;">&nbsp;</div>
                                <a href="{{badge.docker.link}}" target="_blank"><img ng-src="{{badge.docker.label}}"
                                                                                     alt="Docker pulls"></a>
                            </div>
                            <div class="repoLinks gitLink" ng-if="badge.github">
                                <div style="height:12px;">&nbsp;</div>
                                <iframe ng-src="{{badge.github | trustAsResourceUrl}}" frameborder="0" scrolling="0"
                                        style="" allowTransparency="true"></iframe>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="separator50"></div>
            </div>

        </div>
    </div>

    <!-- Shaded Orange strip -->
    <div class="col-lg-12 orange-shade spearator50">&nbsp;</div>
    <!-- Bottom White section-->
    <div class="simple">
        <div class="container">
            <div class="row">
	            <div class="col-lg-12">&nbsp;
		            <div class="separator50"></div>
		            <h2>Why the Beaver?</h2>
		            <div class="separator10"></div>
		            <p>We have chosen the beaver as our representative because of its smart and powerful building technique.
			            It is able to build a robust structure by securing its foundation; starting from the bottom layer,
			            and working its way upward.</p>
		            <p>Like the beaver, SOAJS allows you to build, from day one, a very solid enterprise level service
			            oriented architecture that is reliable and scalable. Nothing would be an after thought. You never
			            need to re-write your code if you want to grow your services.</p>
	            </div>
            </div>
        </div>
        <div class="separator30"></div>
    </div>
</div>
