<div class="page" ng-controller="homePageCtrl">


    <!-- Rounded  Icons Section -->
    <div class="container">
        <div class="row">
            <div class="separator50"></div>
            <div class="separator100"></div>

            <div class="col-lg-1 md-hide "></div>
            <div class="col-lg-2 col-md-6  col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="yellow-light white-txt circle icon-cogs"></i>
                    <div class="separator50"></div>
                    <h2>Framework</h2>
                    <div class="separator10"></div>
                    <p>Capable of running on any data source or existing technology</p>
                    <a class="yellow-txt">Learn More ></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6  col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="red white-txt circle icon-key"></i>
                    <div class="separator50"></div>
                    <h2>Oauth</h2>
                    <div class="separator10"></div>
                    <p>Full blown API management, lifecycle and gateway management</p>
                    <a class="red-txt">Learn More ></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4  col-sm-4 col-xs-12  text-center">
                <div class="icon">
                    <i class="green white-txt circle icon-lock-open-alt"></i>
                    <div class="separator50"></div>
                    <h2>Urac</h2>
                    <div class="separator10"></div>
                    <p>Capable of running on any data source or existing technology</p>
                    <a class="green-txt">Learn More ></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4  col-sm-4 col-xs-12 text-center ">
                <div class="icon">
                    <i class="blue white-txt circle icon-home-manage"></i>
                    <div class="separator50"></div>
                    <h2>Dahsboard</h2>
                    <div class="separator10"></div>
                    <p>Capable of running on any data source or existing technology</p>
                    <a class="blue-txt">Learn More ></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4  col-sm-4 col-xs-12 text-center ">
                <div class="icon">
                    <i class="yellow-dark white-txt circle icon-home-deploy"></i>
                    <div class="separator50"></div>
                    <h2>Gcs</h2>
                    <div class="separator10"></div>
                    <p>Capable of running on any data source or existing technology</p>
                    <a class="yellow-dark-txt">Learn More ></a>
                </div>
            </div>

            <div class="col-lg-1 md-hide "></div>
            <div class="col-xs-12 separator50"></div>

        </div>
    </div>
    <!-- The parrallex image section--->
    <div class="text-center white-txt whatis">
        <div class="content">
            <h2>what is soajs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm
                <dtempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
                         sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                         incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
                         sit amet, consectetur adipiscing elit.
            </p>
            <div class="separator50"></div>
            <button type="button" class="btn yellow-dark white-txt yellow-light-hover">Get Started</button>&nbsp;
            <button type="button" class="btn yellow-dark white-txt yellow-light-hover">Install Dashboard</button>
        </div>
    </div>

    <!-- Join the community white section  ( Badges )-->
    <div class="container">
        <div class="row">
            <div class="simple text-center navy-dark-txt">

                <div class="separator50"></div>
                <h2>Join the SOAJS community</h2>
                <div class="separator50"></div>
                <div ng-repeat="badge in repos">

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <H2 class="yellow-dark-txt" ng-if="badge.documentation">
                            <a ng-if="!badge.external" href="{{badge.documentation}}">{{badge.label}}</a>
                            <a ng-if="badge.external" target="_blank"
                               href="{{badge.documentation}}">{{badge.label}}</a>
                        </H2>
                        <div id="repo{{badge.id}}" class="badgesinner">
                            <div class="repoLabel" ng-if="!badge.documentation"><a>{{badge.label}}</a></div>
                            <div class="repoLinks npm" ng-if="badge.npm">
                                <a href="https://badge.fury.io/js/{{badge.npm}}" target="_blank"><img
                                    ng-src="https://badge.fury.io/js/{{badge.npm}}.svg" alt="NPM version"></a>
                            </div>
                            <div class="repoLinks travis" ng-if="badge.travis">
                                <a href="https://travis-ci.org/{{badge.travis}}" target="_blank"><img
                                    data-bindattr-732="732" ng-src="https://travis-ci.org/{{badge.travis}}.svg"
                                    alt="Build status"></a>
                            </div>

                            <div class="repoLinks coveralls" ng-if="badge.coveralls">
                                <a href="https://coveralls.io/r/{{badge.coveralls}}" target="_blank"><img
                                    ng-src="https://coveralls.io/repos/{{badge.coveralls}}/badge.svg"
                                    alt="Coverage Status"></a>
                            </div>
                            <div class="repoLinks gitLink" ng-if="badge.github">
                                <div style="height:12px;">&nbsp;</div>
                                <iframe ng-src="{{badge.github | trustAsResourceUrl}}" frameborder="0" scrolling="0" style="" allowTransparency="true"></iframe>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="separator50"></div>
            </div>

        </div>
    </div>

    <!-- The two sided boxes -->
    <div class="row-height  navy white-txt text-center">
        <div class="col-md-6 col-md-12 col-sm-height navy">
            <div class="inside inside-full-height">
                <div class="content">

                    <h2>What are you developing with SOAJS?</h2>
                    <hr class="yellow-dark">
                    <div class="separator10"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>

                    <div class="separator50"></div>
                    <button type="button" class="btn navy bordered white-border white-txt white-hover"  onclick="javascript: window.location.href='/contactUs#submit'" >Submit your
                        project
                    </button>
                    <div class="separator50"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-sm-height navy-dark ">
            <div class="inside inside-full-height">
                <div class="content">
                    <h2>Demo</h2>
                    <hr class="yellow-dark">
                    <div class="separator10"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    <button type="button" class="btn navy bordered white-border white-txt white-hover" onclick="javascript: window.location.href='/contactUs#request'">Request a demo
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Shaded Orange strip -->
    <div class="col-lg-12 orange-shade spearator50">&nbsp;</div>
    <!-- Bottom White section-->
    <div class="simple">
        <div class="separator50">&nbsp;</div>
    </div>

</div>
