<div class="container">
	<div ng-controller="newsPageCtrl">

			<!-- main news - large -->
		<!--<div class="row" style="display: none">
			<div class="col-lg-8 col-md-12 ">
				<h2>Heading</h2>
				<img src="images/news/demo1.png" class="wide"/>
				<div class="date">13th Jun</div>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
					mauris
					condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
					euismod.
					Donec sed odio dui.
				</p>

			</div>

			<div class="col-lg-4  hidden-md  hidden-sm hidden-xs">
				<a class="twitter-timeline" data-height="530" href="https://twitter.com/soajsorg">Tweets by soajsorg</a>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>

			<div class="clearfix"></div>

			<div class="col-lg-4 col-sm-6 col-xs-12">
				<h2>Heading</h2>
				<img src="images/news/demo2.png" class="thumb"/>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
					mauris
					condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
					euismod.
					Donec sed odio dui.
				</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>

			<div class="col-lg-4  col-sm-6 col-xs-12">
				<h2>Heading</h2>
				<img src="images/news/demo1.png" class="thumb"/>
				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
					porta
					felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
					fermentum
					massa justo sit amet risus.
				</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="clearfix hidden-lg"></div>
			<div class="col-lg-4  col-sm-6 col-xs-12">
				<h2>Heading</h2>
				<img src="images/news/demo3.png" class="thumb"/>
				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
					porta
					felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
					fermentum
					massa justo sit amet risus.
				</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>

			<div class="col-sm-6  hidden-lg col-xs-12">
				<a class="twitter-timeline" data-height="530" href="https://twitter.com/soajsorg">Tweets by soajsorg</a>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>-->
		<div class="row">
			<!--<div class="col-lg-12 col-md-12">-->
				<!---->
				<!--<h2>SOAJS Blue Whale</h2>-->
				<!--<p>-->
					<!--Blue Whale Release contains the latest SOAJS updates and the first release in its new <b>2.x</b> version.<br>-->
					<!--In this new version, SOAJS introduces the ability to Create and Deploy Hybrid Clouds supporting different technology platforms per environment.<br />-->
					<!--Now your cloud can have a mix of both <b>kubernetes </b> & <b>docker swarm</b> among your environments and benefit from the advantages of each technology.<br />-->
					<!--Please use the latest version of the <a href="https://soajsorg.atlassian.net/wiki/display/IN/Installer">SOAJS Installer</a> to deploy this new version.-->
				<!--</p>-->
				<!--<div class="red white-txt text-center">The new SOAJS version is not backward compatible.</div>-->
			<!--</div>-->
			<!--<div class="col-lg-12 col-md-12">-->
				<!---->
				<!--<h2>SOAJS Great White Shark </h2>-->
				<!--<p>-->
					<!--River Shark Release contains the latest SOAJS updates and the first release in its new <b>1.x</b>-->
					<!--version.<br>-->
					<!--In this new version, SOAJS introduced the new <b>sessionless behavior</b> where logged in users no-->
					<!--longer have sessions unless required by the microservices to store custom product information.<br>-->
					<!--In addition, soajs framework is broken down to multiple repositories for better management,-->
					<!--flexibility,-->
					<!--modulatiry and usage.<br>-->
					<!--Please use the latest version of the-->
					<!--<a href="https://soajsorg.atlassian.net/wiki/display/IN/Installer">SOAJS-->
						<!--Installer</a> to deploy this new version.-->
				<!--</p>-->
				<!--<div class="red white-txt text-center">The new SOAJS version is not backward compatible.</div>-->
			<!--</div>-->
			<!--<div class="col-lg-12 col-md-12">-->

				<!--<h2>SOAJS Rivershark </h2>-->
				<!--<p>-->
					<!--River Shark Release contains the latest SOAJS updates and the first release in its new <b>1.x</b>-->
					<!--version.<br>-->
					<!--In this new version, SOAJS introduced the new <b>sessionless behavior</b> where logged in users no-->
					<!--longer have sessions unless required by the microservices to store custom product information.<br>-->
					<!--In addition, soajs framework is broken down to multiple repositories for better management,-->
					<!--flexibility,-->
					<!--modulatiry and usage.<br>-->
					<!--Please use the latest version of the-->
					<!--<a href="https://soajsorg.atlassian.net/wiki/display/IN/Installer">SOAJS-->
						<!--Installer</a> to deploy this new version.-->
				<!--</p>-->
				<!--<div class="red white-txt text-center">The new SOAJS version is not backward compatible.</div>-->
			<!--</div>-->
		</div>
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h2>Releases</h2>

				<div class="panel-group releases" id="accordion">
					<div class="panel panel-default" ng-repeat="release in newsList">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" style="cursor: pointer" data-toggle="collapse"
                   data-parent="#accordion" data-target="#collapse_{{$index}}">
									{{release.label}}
								</a>
								<span class="pull-right text-right">{{release.date}}</span>
							</h4>
						</div>
						<div id="collapse_{{$index}}" class="panel-collapse collapse" ng-class="{'in': $index === 0}">
							<div class="panel-body">

								<div ng-if="release.content" style='margin: 10px; padding: 10px; font-size: 14px;'>
									<div class="col-md-12 col-sm-12 col-xs-12" ng-bind-html="release.content.note|toTrustedHtml">{{release.content.note}}</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div ng-bind-html="release.content.manual.note|toTrustedHtml">{{release.content.manual.note}}</div>
										<ul>
											<li ng-repeat="line in release.content.manual.content" ng-bind-html="line|toTrustedHtml"></li>
										</ul>
									</div>

									<div class="col-md-6 col-sm-6 col-xs-12">
										<div ng-bind-html="release.content.remote.note|toTrustedHtml">{{release.content.remote.note}}</div>
										<ul>
											<li ng-repeat="line in release.content.remote.content" ng-bind-html="line|toTrustedHtml"></li>
										</ul>
									</div>

									<div class="col-md-12 col-sm-12 col-xs-12" ng-bind-html="release.content.footer|toTrustedHtml">{{release.content.footer}}</div>
								</div>

								<div ng-if="release.repos">
									<div ng-repeat="repo in release.repos" class="col-md-12 col-xs-12 content oneRepo">
										<div class="col-md-4 col-sm-4 col-xs-12 repoName-wrapper">
											<div class="col-md-8 col-xs-12 repoName">{{repo.name}}</div>
											<div class="col-md-4 col-xs-12 versionRepo">{{repo.version}}</div>
										</div>
										<div class="col-md-8 col-sm-8 col-xs-12 repoNews">
											<div ng-if="repo.description">
												<div ng-repeat="line in repo.description">{{line}}</div>
											</div>
											<div ng-if="repo.features && repo.features.length">
												<div class="releaseNotes green-txt feature">Features:</div>
												<ul>
													<li ng-repeat="feature in repo.features" ng-bind-html="feature|toTrustedHtml"></li>
												</ul>
											</div>
											<div ng-if="repo.enhancements && repo.enhancements.length">
												<div class="releaseNotes blue-txt">
													Enhancements:</div>
												<ul>
													<li ng-repeat="enhancement in repo.enhancements" ng-bind-html="enhancement|toTrustedHtml"></li>
												</ul>
											</div>
											<div ng-if="repo.enhancedTests && repo.enhancedTests.length">
												<div class="releaseNotes red-txt etest">Enhanced Tests:</div>
												<ul>
													<li ng-repeat="test in repo.enhancedTests" ng-bind-html="test|toTrustedHtml"></li>
												</ul>
											</div>
											<div ng-if="repo.bugFixes && repo.bugFixes.length">
												<div class="releaseNotes red-txt bug">Bug fixes:</div>
												<ul>
													<li ng-repeat="bug in repo.bugFixes">{{bug}}</li>
												</ul>
											</div>
											<div ng-if="repo.deprecated && repo.deprecated.length">
												<div class="releaseNotes yellow-light-txt">
													Deprecated:</div>
												<ul>
													<li ng-repeat="dep in repo.deprecated"
														ng-bind-html="dep|toTrustedHtml"></li>
												</ul>
											</div>
											<div ng-if="repo.custom">
												<div ng-repeat="oneData in repo.custom">
													<div class="releaseNotes {{oneData.class}}">{{oneData.label}}</div>
													<ul>
														<li ng-repeat="item in oneData.data">{{item}}</li>
													</ul>
												</div>

											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
