$ cd /opt/soajs/node_modules/soajs.utilities/lib

# import sample data to Mongo Docker
$ nodejs index data import provision $(docker inspect --format="{{.NetworkSettings.IPAddress }}" soajsData)
$ nodejs index data import urac $(docker inspect --format="{{.NetworkSettings.IPAddress }}" soajsData)