<div class="bottom">

	<div class="sharing-footer">
		<div class="copyright">Copyright &copy;{{copyrightYear}} SOAJS, <span style="white-space: nowrap">All rights reserved.</span></div>
		<div id="right-button">
			<a href="https://twitter.com/soajsorg" class="twitter-icon">
			<img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-512.png">
			</a>
			<a class="small-button" href="#/getStarted">Get started</a>
			<a href="#/contactUs" class="small-button">Contribute</a>
		</div>
	</div>
</div>
