<div class="bottom">
	<div class="sharing-footer">
		<div class="copyright">Copyright &copy;{{copyrightYear}} SOAJS, <span style="white-space: nowrap">All rights reserved.</span></div>
		<div id="right-button">
			<a href="https://twitter.com/soajsorg" class="twitter-icon" target="_blank">
				<img src="images/twitter_circle_color-512.png">
			</a>
			<a class="small-button" href="#/getStarted">Get started</a>
			<a href="#/contactUs" class="small-button">Contribute</a>
			<a class="small-button" href="#/documentation/deployment/overview">Deployment</a>
		</div>
	</div>
</div>
