<div class="text-center">
	<div class="col-lg-12 spearator50">&nbsp<br /></div>
	<div class="socialMedia col-lg-12 text-center" style="margin-bottom: 22px;">
		<a href="https://www.facebook.com/soajs" target="_blank" style="margin-right:17px;">
			<i class="black-txt icon-footer-facebook"></i>
		</a>
		<a href="https://gitter.im/soajs/soajs" target="_blank" style="margin-right:17px;">
			<i class="black-txt icon-gitter"></i>
		</a>
		<a href="https://twitter.com/soajsorg" target="_blank">
			<i class="black-txt icon-footer-twitter-color"></i>
		</a>
	</div>
</div>
<div class="bottom text-center">
    <div class="menu">
        <a href="/">Home</a>
        <a href="/getstarted">Get Started</a>
        <a href="/demos">Demos</a>
        <a href="/platform">Platform</a>
        <a href="/documentation">Documentation</a>
        <a href="/videos">Videos</a>
        <a href="/news">Releases</a>
        <a href="/contactUs">Contact</a></div>
    </div>

    <div class="copyright col-lg-12">
        Copyright &copy; SOAJS, <span class="nowrap">All rights reserved.</span>
    </div>
</div>