<div id="topMenu-section1" class="topbar-wrapper">
	<div class="topbar ng-scope">
		<!--Navigation list-->
		<div class="nav-container">
			<div class="branding">
				<a href="#/"><img class="logo" ng-src="images/logo3.png" alt="Soajs logo" /></a>
				<span class="version">v 1.0</span>
			</div>
			<div class="small-menu">
				<div class="menu-button-stripe"></div>
				<div class="menu-button-stripe"></div>
				<div class="menu-button-stripe"></div>
			</div>
			<ul class="topnav">
				<li ng-class="{'active': currentLocation === '#/getStarted'}"><a href="#/getStarted">Get Started</a></li>
				<li ng-class="{'active': currentLocation === '#/features'}"><a href="#/features">Features</a></li>
				<li ng-class="{'active': currentLocation === '#/documentation'}"><a href="#/documentation" >Documentation</a></li>
				<li ng-class="{'active': currentLocation === '#/contactUs'}"><a href="#/contactUs">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>