<div id="topMenu-section1" class="topbar-wrapper">
	<div class="topbar ng-scope">
		<!--Navigation list-->
		<div class="nav-container">
			<div class="branding">
				<a ng-click="menuVisible = false" href="#/"><img class="logo" ng-src="images/logo.png" alt="Soajs logo" /></a>
			</div>

			<div ng-class="{'menu-open': menuVisible === true}" ng-click="menuVisible = !menuVisible" class="menu">
				<div class="menu-button-stripe"></div>
				<div class="menu-button-stripe"></div>
				<div class="menu-button-stripe"></div>
			</div>

			<ul class="topnav ng-isolate-scope" ng-class="{'menu-open': menuVisible === true}" click-outside="" is-open="menuVisible">
				<li ng-click="menuVisible = false" class="getStarted" ng-class="{'active': currentLocation === '/getStarted'}"><a href="#/getStarted">Get Started</a></li>
				<li ng-click="menuVisible = false" class="features" ng-class="{'active': currentLocation === '/features'}"><a href="#/features">Features</a></li>
				<li ng-click="menuVisible = false" class="documentation" ng-class="{'active': currentLocation === '/documentation'}"><a href="#/documentation" >Documentation</a></li>
				<li ng-click="menuVisible = false" class="contactUs" ng-class="{'active': currentLocation === '/contactUs'}"><a href="#/contactUs">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>